{% extends "base.html" %}

{% block announce %}
<div class="announce">
<p class="bold">
    Advanced Computing Facility (ACF) Power Outage:
    Friday 29th August - Monday 15th September
</p>
<p>
    Due to a significant Health and Safety risk, associated with our power supply to the site, that requires action at the ACF, there will be a full power outage to the site from Friday 29th August - Monday 15th September.  Specialised external contractors will be working on a 24/7 basis for the outage period replacing switchgear. The EIDF Services are hosted at the ACF.
</p>
<p>
    All EIDF Services will be completely powered off for the duration of this period.
    Updates will be provided during the outage at <a href="https://docs.eidf.ac.uk/status/">https://docs.eidf.ac.uk/status/</a>.
</p>
</div>
{% endblock %}
