theme:
  name: material
  favicon: images/favicon.ico
  logo: images/EIDF_rgb.png
  palette:
    scheme: default
  features:
    - tabs
  icon:
    repo: fontawesome/brands/github

extra_css:
  - stylesheets/eidf.css
  - stylesheets/access.css

site_name: EIDF User Documentation
site_url: https://epcced.github.io/eidf-docs/
repo_url: https://github.com/EPCCed/eidf-docs/
repo_name: EPCCed/eidf-docs.git
edit_uri: edit/main/docs/

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list


nav:
  - "Service Status": status/index.md
  - "Documentation overview": index.md
  - "About EIDF":
    - "Introduction": overview/index.md
    - "Acknowledgements": overview/acknowledgements.md
    - "Contact": overview/contacts.md
  - "Service Access":
    - "Web and SSH": access/index.md
    - "EIDF Web Portal": access/project.md
    - "Virtual Desktop Interface": access/virtualmachines-vdi.md
  - "Computing Services":
    - "Virtual Desktops":
      - "QuickStart": services/virtualmachines/quickstart.md
      - "Managing VMs": services/virtualmachines/docs.md
      - "Virtual Desktop Interface": access/virtualmachines-vdi.md
      - "SSH Access to VMs": access/ssh.md
      - "VM Flavours": services/virtualmachines/flavours.md
    - "Managed JupyterHub":
      - "QuickStart": services/jhub/quickstart.md
      - "Tutorial": services/jhub/tutorial.md
      - "Documentation": services/jhub/docs.md
    - "Cerebras CS-2":
      - "Get Access": services/cs2/access.md
      - "Running codes": services/cs2/run.md
    - "Ultra2":
      - "Get Access": services/ultra2/access.md
      - "Running codes": services/ultra2/run.md
    - "GPU Service":
      - "Overview": services/containerservice/index.md
      - "Tutorial":
         - "Getting Started": services/containerservice/training/L1_getting_started.md
         - "Persistent Volumes": services/containerservice/training/L2_requesting_persistent_volumes.md
         - "Running a Pytorch Pod": services/containerservice/training/L3_running_a_pytorch_task.md
  - "Data Management Services":
    - "Data Catalogue":
      - "Metadata information": services/datacatalogue/metadata.md
  - "Safe Haven Services":
     - "Overview": safe-haven-services/overview.md
     - "Network Access Controls": safe-haven-services/network-access-controls.md
     - "Safe Haven Access": safe-haven-services/safe-haven-access.md
     - "Virtual Desktop Connections": safe-haven-services/virtual-desktop-connections.md
     - "Using the HPC Cluster": safe-haven-services/using-the-hpc-cluster.md
     - "Superdome Flex Tutorial":
       - "Accessing the SDF Inside the EPCC TRE": safe-haven-services/superdome-flex-tutorial/L1_Accessing_the_SDF_Inside_the_EPCC_TRE.md
       - "Running R/Python Scripts": safe-haven-services/superdome-flex-tutorial/L2_running_R_Python_analysis_scripts.md
       - "Submitting Scripts to Slurm": safe-haven-services/superdome-flex-tutorial/L3_submitting_scripts_to_slurm.md
       - "Parallelised Python Analysis": safe-haven-services/superdome-flex-tutorial/L4_parallelised_python_analysis.md
       - "Parallelised R Analysis": safe-haven-services/superdome-flex-tutorial/L5_parallelised_r_analysis.md
  - "Bespoke Services":
     - "Ed-DaSH":
        - "Workshop Notebook Service": bespoke/eddash/workshops.md
        - "Workshop Virtual Machines": bespoke/eddash/safe-registration.md
        - "JupyterHub Notebook Service Access": bespoke/eddash/jhub-git.md
  - "EIDF Known Issues": known-issues/index.md
  - "EIDF Frequently Asked Questions": faq/index.md


dev_addr: 0.0.0.0:8000
