theme:
  name: material
  favicon: images/favicon.ico
  logo: images/EIDF_rgb.png
  palette:
    scheme: default
  features:
    - tabs
  icon:
    repo: fontawesome/brands/github

extra_css:
  - stylesheets/eidf.css
  - stylesheets/access.css

site_name: EIDF User Documentation
site_url: https://docs.eidf.ac.uk/
repo_url: https://github.com/EPCCed/eidf-docs/
repo_name: EPCCed/eidf-docs.git
edit_uri: edit/main/docs/

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list


nav:
  - "Service Status": status/index.md
  - "Documentation overview": index.md
  - "About EIDF":
    - "Introduction": overview/index.md
    - "Acknowledgements": overview/acknowledgements.md
    - "Contact": overview/contacts.md
  - "Service Access":
    - "Web and SSH": access/index.md
    - "EIDF Web Portal": access/project.md
    - "Virtual Desktop Interface": access/virtualmachines-vdi.md
  - "Computing Services":
    - "Virtual Desktops":
      - "Overview": services/virtualmachines/index.md
      - "QuickStart": services/virtualmachines/quickstart.md
      - "Managing VMs": services/virtualmachines/docs.md
      - "Virtual Desktop Interface": access/virtualmachines-vdi.md
      - "Shared Filesystem": services/virtualmachines/sharedfs.md
      - "SSH Access to VMs": access/ssh.md
      - "VM Flavours": services/virtualmachines/flavours.md
      - "Policies": services/virtualmachines/policies.md
    - "Ultra2":
      - "Overview": services/ultra2/access.md
      - "Connect": services/ultra2/connect.md
      - "Running codes": services/ultra2/run.md
    - "Cerebras":
      - "Overview": services/cerebras/access.md
      - "Connect": services/cerebras/connect.md
      - "Running codes": services/cerebras/run.md
    - "GPU Service":
      - "Overview": services/gpuservice/index.md
      - "Policies": services/gpuservice/policies.md
      - "Kueue": services/gpuservice/kueue.md
      - "Tutorials":
         - "Getting Started": services/gpuservice/training/L1_getting_started.md
         - "Persistent Volumes": services/gpuservice/training/L2_requesting_persistent_volumes.md
         - "Running a Pytorch Pod": services/gpuservice/training/L3_running_a_pytorch_task.md
         - "Template K8s Workflow": services/gpuservice/training/L4_template_workflow.md
      - "GPU Service FAQ": services/gpuservice/faq.md
    - "Graphcore Bow Pod64":
      - "Overview": services/graphcore/index.md
      - "Tutorial":
         - "Getting Started": services/graphcore/training/L1_getting_started.md
         - "Multi-IPU Jobs": services/graphcore/training/L2_multiple_IPU.md
         - "Profiling": services/graphcore/training/L3_profiling.md
         - "Other Frameworks": services/graphcore/training/L4_other_frameworks.md
      - "Graphcore FAQ": services/graphcore/faq.md
    - "Notebooks":
      - "Overview": services/jhub/index.md
      - "Quickstart": services/jhub/quickstart.md
  - "Data Services":
    - "S3":
      - "Overview": services/s3/index.md
      - "Manage": services/s3/manage.md
      - "Tutorial": services/s3/tutorial.md
    - "Data Publishing":
       - "Getting started": services/datapublishing/service.md
       - "Your Data Catalogue entry": services/datapublishing/catalogue.md
    - "Data Catalogue":
      - "Metadata information": services/datacatalogue/metadata.md
    #- "Managed File Transfer":
    #    - "Quickstart": services/mft/quickstart.md
    #    - "Using the MFT": services/mft/using-the-mft.md
  - "Safe Haven Services":
     - "Overview": safe-haven-services/overview.md
     - "Network Access Controls": safe-haven-services/network-access-controls.md
     - "Safe Haven Access": safe-haven-services/safe-haven-access.md
     - "Virtual Desktop Connections": safe-haven-services/virtual-desktop-connections.md
     - "Using the HPC Cluster": safe-haven-services/using-the-hpc-cluster.md
     - "Superdome Flex Tutorial":
       - "Accessing the SDF Inside the EPCC TRE": safe-haven-services/superdome-flex-tutorial/L1_Accessing_the_SDF_Inside_the_EPCC_TRE.md
       - "Running R/Python Scripts": safe-haven-services/superdome-flex-tutorial/L2_running_R_Python_analysis_scripts.md
       - "Submitting Scripts to Slurm": safe-haven-services/superdome-flex-tutorial/L3_submitting_scripts_to_slurm.md
       - "Parallelised Python Analysis": safe-haven-services/superdome-flex-tutorial/L4_parallelised_python_analysis.md
       - "Parallelised R Analysis": safe-haven-services/superdome-flex-tutorial/L5_parallelised_r_analysis.md
     - "TRE Container User Guide":
       - "Introduction": safe-haven-services/tre-container-user-guide/introduction.md
       - "Development Workflow": safe-haven-services/tre-container-user-guide/development-workflow.md
       - "Advising IG of Required Software Stack": safe-haven-services/tre-container-user-guide/advise-ig-required-software-stack.md
       - "Building and Testing Containers": safe-haven-services/tre-container-user-guide/building-and-testing-containers.md
       - "Using Containers in the TRE": safe-haven-services/tre-container-user-guide/using-containers-in-the-tre.md
       - "Container Examples": safe-haven-services/tre-container-user-guide/container-examples.md
     - "TRE Open OnDemand service":
       - "About Open OnDemand": safe-haven-services/open-ondemand/about.md
       - "Access Open OnDemand": safe-haven-services/open-ondemand/access.md
       - "Open OnDemand portal": safe-haven-services/open-ondemand/portal.md
       - "Browse and manage files": safe-haven-services/open-ondemand/files.md
       - "Open an SSH session": safe-haven-services/open-ondemand/ssh.md
       - "Running jobs": safe-haven-services/open-ondemand/jobs.md
       - "Apps":
          - "Active Jobs": safe-haven-services/open-ondemand/apps/active-jobs.md
          - "Job Composer": safe-haven-services/open-ondemand/apps/job-composer.md
          - "Run Container": safe-haven-services/open-ondemand/apps/container-app.md
          - "Run JupyterLab": safe-haven-services/open-ondemand/apps/jupyter-app.md
          - "Run RStudio Server": safe-haven-services/open-ondemand/apps/rstudio-app.md
       - "Hints and tips": safe-haven-services/open-ondemand/hints-tips.md
  - "EIDF Known Issues": known-issues/index.md
  - "EIDF Frequently Asked Questions": faq/index.md
  - "EIDF Tutorial Videos": tutorial-videos/index.md

dev_addr: localhost:8000
