.border-img {
  border: 5px solid transparent;
  padding: 5px;
  /*margin: 15px;*/
  border-color: rgba(192, 192, 192, 0.1);
  border-radius: 10px;
}

.bold {
  font-weight: bold;
  color: blue;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.inline-img {
  vertical-align: middle;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* captions under images */
img + em {
  display: block;
  text-align: center;
}

.announce {
  padding: 1em;
  background: rgb(255, 255, 205);
  color: black;
}
